{% extends 'base.html' %}
{% block content %}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
<div class="row justify-content-center">
    <h4><b>Информационная система "Студенты вуза"</b></h4>
        <br><br>
        <div>Информационная система позволяет реализовать следующие действия:</div>
        <div>
            <ul>
                <li>просматривать списки студентов, групп и кафедр (режимы пользователя и администратора);</li>
                <li>актуализировать информацию о студентах, группах и кафедрах (режим администратора);</li>
                <li>просматривать зарегистрированных пользователей (режим администратора);</li>                  
                <li>регистрировать нового пользователя (режим администратора).</li>      
                <li>удалять зарегистрированного пользователя (режим администратора).</li>               
                <!-- Добавьте здесь другие возможные виды запросов -->
            </ul>   
            <hr>  
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">&copy;<script>document.write(new Date().getFullYear());</script>, Винокуров И.В., КФ Финуниверситета</div>
                </div>
            </div>
        </div>                         
</div>
{% endblock %}